body,
body * {
  font-family: monospace;
}

p {
  max-width: 40em;
}

button {
  min-width: 12em;
  height: 4em;
  border: 1px solid black; 
  margin: 2px;
  border-radius: 2px;
  background: #ddd;
}

.device {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.device:nth-child(even) {
  background: #eee;
}

.deviceInfo {
  margin-left: 1em;
}

.deviceInfo > div {
  display: flex;
  margin-bottom: 4px;
}

.track > div {
  display: flex;
  margin-bottom: 4px;
}

.deviceInfo span {
  overflow-wrap: anywhere;
}

#meter {
  width: 10em;
  height: 1em;
  border: 1px solid black;
}

#bar {
  height: 100%;
  background: green;
}

#root > * {
  margin-bottom: 1em;
}

label {
  min-width: 7em;
  text-align: right;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 1em;
}

.useDevice {
  min-width: 4em;
}

video {
  width: 200px;
}
