body,
body * {
  font-family: monospace;
}

button {
  min-width: 4em;
  height: 4em;
  border: 1px solid black; 
  margin: 2px;
  border-radius: 2px;
  background: #ddd;
}

.device {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.device:nth-child(odd) {
  background: #eee;
}

.deviceInfo {
  margin-left: 1em;
}

#meter {
  width: 10em;
  height: 1em;
  border: 1px solid black;
}

#bar {
  height: 100%;
  background: green;
}

#root > * {
  margin-bottom: 1em;
}

label {
  width: 7em;
  text-align: right;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 1em;
}

video {
  width: 200px;
}
